@media screen and (max-width: 1640px) {
    .know-more h5{
        padding: 3rem 1rem;
    }
    
    .know-more-plus h5{
        padding: 3rem 1rem;
    }    
    
    .know-more a {
        padding: 2rem 5rem 2rem 5rem;
    }
    
    .know-more-plus a {
        padding: 2rem 5rem 2rem 5rem;
    }
    
    .know-more li, .know-more-plus li{
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
}

@media screen and (max-width: 1380px){
    .fas{
        font-size: 4rem;
    }

    .benefits div p{
        font-size: 1rem;
    }

    .know-more li, .know-more-plus li{
        padding: 1.5rem 1rem 1.5rem 1rem;
    }
    
    .know-more a {
        padding: 2rem 3rem 2rem 3rem;
    }
    
    .know-more-plus a {
        padding: 2rem 3.5rem 2rem 3.5rem;
    }
}

@media screen and (max-width: 1135px){

    .benefits div p{
        font-size: .8rem;
        line-height: 1.5rem;
    }

    .div-know-more{
        display: block;
        margin-bottom: 2%;
        text-align: center;
    }

    #responsive-more{
        margin-right: 8rem;
    }

    .know-more {
        margin-bottom: 10%;
    }

    .know-more-plus{
        margin-right: 8rem;
    }

    .know-more h5{
        padding: 3rem 1rem;
    }
    
    .know-more-plus h5{
        padding: 3rem 1rem;
    }    
    
    .know-more a {
        padding: 2rem 5rem 2rem 5rem;
    }
    
    .know-more-plus a {
        padding: 2rem 5rem 2rem 5rem;
    }
    
    .know-more li, .know-more-plus li{
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
}

@media screen and (max-width: 761px) {
    .select{
        margin-bottom: 10%;
    }

    #responsive-more{
        margin-right: 1rem;
    }

    .know-more-plus{
        margin-right: 1rem;
    }    

    .know-more {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 646px){
    #responsive-more{
        margin-right: 0rem;
    }

    .know-more {
        margin-bottom: 18%;
    }

    .know-more-plus{
        margin-right: 0rem;
        margin-bottom: 18%;
    }    
}