*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1, h2, h3 {
  color: #333;
}

p {
  color: #70747a;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232a31;
    padding: 1%;
}

header a{
    text-transform: uppercase;
    padding: 0 .5rem;
    color: #fff;
    text-decoration: none;
}

header a:hover{
    color: #ccc;
    transition: .3s;
}

header img{
    object-fit: contain;
    height: 4rem;
    width: 4rem;
}

.header-enter{
    background-color: #2cc76a;
    padding: 1rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.background-hdc {
    background-image: url("/HTML_E_CSS/8_HDC_HOST/img/mainbanner.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin-bottom: 10%;
}

.background-hdc h1{
    color: #fff;
    text-align: center;
    padding-top: 10%;
    font-size: 4rem;
    text-shadow: #000 3px 2px 3px;
}

.background-hdc h3{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    text-shadow: #000 3px 2px 3px;
}

.benefits{
    display: flex;
    text-align: center;
    padding: 0 6%;
    margin-bottom: 10%;
}

.benefits div h3{
    font-size: 1.5rem;
    padding-bottom: 5%; 
}

.benefits div p{
    font-size: 1.3rem;
    padding: 0 8%;
    line-height: 2.1rem;
}

.fas{
    font-size: 5rem;
    padding-bottom: 3%;
}

.fa-shield-alt {
    color: #2cc76a;
}
  
.fa-rocket {
    color: #ef3f29;
}
  
.fa-comments {
    color: #ef8f29;
}

.plans-and-prices h1, .select{
    text-align: center;
}

.plans-and-prices h1{
    font-size: 3rem;
    margin-bottom: .5%;
}

.select{
    font-size: 1.5rem;
    margin-bottom: 6%;   
}

#responsive-more{
    margin-right: 2rem;
}

.div-know-more{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    margin-left: 2%;
    gap: 50px;
}

.know-more, .know-more-plus{
    display: inline-block;
    text-align: center;
}

.know-more-plus{
    margin-right: 2rem;
}

.know-more h5{
    display: inline;
    background-color: #2cc76a;
    padding: 3rem 1rem;
    border-radius: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.know-more-plus h5{
    display: inline;
    background-color: #ef3f29;
    padding: 3rem 1rem;
    border-radius: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.know-more h3, .know-more-plus h3{
    background-color: #232a31;
    text-transform: uppercase;
    padding: 4rem 3rem 1rem 3rem;
    color: #fff;
}

.know-more ul, .know-more-plus ul{
    list-style: none;
    margin-bottom: 8.5%;
}

.know-more a {
    background-color: #2cc76a;
    text-transform: uppercase;
    padding: 2rem 7rem 2rem 7rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.know-more-plus a {
    background-color: #ef3f29;
    text-transform: uppercase;
    padding: 2rem 7rem 2rem 7rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.know-more li, .know-more-plus li{
    background-color: #dfdfdf;
    text-transform: uppercase;
    padding: 1.5rem 5rem 1.5rem 5rem;
    color: #000;
}

.domain{
    background-color: #34454e;
    text-align: center;
    padding-bottom: 5%;
}

.domain h1{
    color: #fff;
    padding-top: 5%;
    font-size: 3.2rem;
}

.domain h3{
    color: #d5d5d5;
    padding: 1% 0%;
    font-size: 1.5rem;
    font-weight: 500;
}

.domain input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.domain form input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.domain form input[type="submit"]{
    background-color: #2cc76a;
    padding: 1% 2%;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.8;
}

.domain form input[type="submit"]:hover{
    opacity: 1;
}

.message{
   margin-top: 5%;
   text-align: center; 
}

.message h1{
    font-size: 3rem;
}

.message h3{
    font-size: 1.5rem;
    color: #70747a;
    font-weight: 500;
    margin-bottom: 1%;
}

textarea, input[type="submit"]{
    display: block;
    margin: 0 auto;
}

.message input[type="text"], input[type="email"]{
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 10%;
    padding: .5%;
    margin: 1% .5%;
    font-size: 1rem;
}

.message textarea{
    width: 25%;
    padding: 1% 0% 6% 1%;
    margin-bottom: 1%;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.message input[type="submit"]{
    background-color: #2cc76a;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 9%;
    padding: .5%;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2%;
}

.message p{
    font-weight: 600;
    margin-bottom: 5%;
}