* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root {
    --fundo-preto: #333;
    --texto-preto: #000;
    --texto-branco: #fff;
    --fundo-botao: #525252;
}

#buttons {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-preto);
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li {
    background-color: var(--fundo-preto);
    color: var(--texto-branco);
    padding: 1rem;
    border-radius: 15px;
    border: 4px solid var(--fundo-botao);
    cursor: pointer;
    transition: .2s linear all;
    &:hover {
        transform: scale(1.02);
    }
}

.selected {
    border-color: var(--texto-branco);
}

#theme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    background-color: var(--fundo-branco);
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
    outline: none;
    border: none;
    color: var(--texto-branco);
    font-size: 20px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 100px;
    border: 2px solid var(--texto-branco);
    cursor: pointer;
    transition: .2s linear all;
    &:hover {
        transform: scale(1.02);
        box-shadow: var(--texto-branco) 0px 3px 8px;
    }
}